{% extends 'admin.html.twig' %}

{% block title %}Créer catégorie{% endblock %}

{% block body %}
   <link rel="stylesheet" href="{{ asset('css/crud.css') }}">
    <div class="container">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Créer catégorie</h1>
    {{ include('crud_categories/_form.html.twig', {'button_label': 'Créer'}) }}
  </div>
</div>
{% endblock %}
