{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="containeur-homepage">
	<div class="menu">
		<img id="feedback-logo" src="{{ asset('images/feedback.png') }}"/>
	</div>
		<div class="flexbox">
			<div id="items1" onclick="document.location='/login'">
					<p>Accédez au panel administrateur</p>
					<a href="/login"><img src="{{ asset('images/login.png') }}"/></a>
			</div>
        
			<div id="items2" onclick="document.location='/?'">
					<p>Accédez à la génération du QRCode</p>
					<a href="/avis"><img src="{{ asset('images/qrcode.png') }}"/></a>
			</div>
            
		</div>
	</div>

{% endblock %}
