language: php

php:
  - '7.4'

sudo: false
warnings_are_errors: false

services:
    - mysql

install:
    - composer install
    - php bin/console doctrine:database:create --env=test
    - php bin/console doctrine:migrations:migrate -n --env=test
    - php bin/console doctrine:fixtures:load --env=test

script:
    - php bin/phpunit --testdox