{% extends 'base.html.twig' %}
{% block title %}QRCode
{% endblock %}
{% block body %}
<style>
  body{
      text-align:center;
  }
</style>
	<img src="{{ data_url }}"/><br/>
    <p>Scannez moi pour laisser un avis sur votre repas!</p>
{% endblock %}
