{% extends 'base.html.twig' %}
			{% block title %}Avis envoyé !
			{% endblock %}

		{% block body %}

			<div class="position-absolute top-0 start-50 translate-middle-x mt-5"><img src="/images/ndlp.jpg" alt=""></div>


			<div class="container position-absolute top-50 start-50 translate-middle">
				<div class="card text-white bg-success text-center">
					<div class="card-header">
						Avis
					</div>
					<div class="card-body">
						<h5 class="card-title">Avis reçu</h5>
						<p class="card-text">Votre avis à bien été envoyé.</p>
					</div>
					<div class="card-footer">
						Merci !
					</div>
				</div>
			</div>
		{% endblock %}

