{% extends 'base.html.twig' %}
{% block title %}Avis envoyé !{% endblock %}
		{% block body %}

	<div class="text-center">
        <img style="width:200px;" src="/images/ndlp.jpg">
		<br/><br/><br/><br/>
		<i style="color:#0fad00; font-size:60px;"class="fa fa-check" aria-hidden="true"></i><br/><br/>
		<h2 style="color:#0fad00">Parfait !</h2>
        <h3>Votre avis a été envoyé !</h3>
        <p style="font-size:20px;color:#5C5C5C;">Merci d'avoir pris le temps de noter notre restauration !<br/>Votre avis compte beaucoup !<br/><br/><br/>
		A bientôt !<br/> NDLP</p>  
	</div>
		{% endblock %}

