{% extends 'admin.html.twig' %}

{% block title %}Taux de vote{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/tauxdevote.css') }}">
<div class="wrapper">

  <div class="header">
    <h1 class="header__title">Taux de vote</h1>
    <h2 class="header__subtitle">par classes</h2>
  </div>

  <div class="cards">
  {% for tableauCount in tableauCounts %}
    <div class=" card ">
      <div class="card__inner">
        <span> <em>{{tableauCount.count}} {{tableauCount.name}}</em><br/> {% if tableauCount.count == '1' %}a voté ! {% else %} ont voté !{% endif %}</span>
      </div>
    </div>
    {% endfor %}

  </div>

</div>



  

{% endblock %}
