<form method="post" action="{{ path('app_crud_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous de vouloir supprimer {{user.username}} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> <br/>Supprimer</button>
</form>
