{% extends 'base.html.twig' %}

{% block title %}Modifier PIN{% endblock %}

{% block body %}
    <h1>Modifier PIN</h1>

    {{ include('crud_pin/_form.html.twig', {'button_label': 'Modifier'}) }}


{% endblock %}
