<form method="post" action="{{ path('app_crud_repas_delete', {'id': types_repa.id}) }}" onsubmit="return confirm('Êtes-vous de vouloir supprimer {{types_repa.name}} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ types_repa.id) }}">
    <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> <br/>Supprimer</button>
</form>